{% load static %}
{% load humanize %}

<div class="container-fluid">
    <div class="feature latest">
     <div class="free">
         <p>FEATURED <span>PRODUCTS</span></p>
     </div>
     <div class="line-bar">
         
         
     </div>
     <div>
         <img src="{% static '' %}images/arrow-pleft.png" alt="">
         <img src="{% static '' %}images/arrow-p.png" alt="">
     </div>
    </div>
 </div>

 <div class="container-fluid">
     <div class="row">
         {% if category1 %}
           {% for item in category1 %}
             <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-div">
                        <a href="{% url 'prod_detail' item.id item.slug %}"><img src="{{item.image.url}}" alt=""   height="260" class="image-fluid"></a>
                    </div>
                    <div class="card-block">
                    <span class="card-title"><b class="text-wrap">{{item.title}}</b></span>
                    <p class="see"></p>
                    <p class="primera mt-3">
                        {% if item.discount_price %}
                            <small><del><em>&#8358;{{item.price | floatformat:2 | intcomma }}</em></del></small>
                            <span><small>&#8358;{{item.discount_price | floatformat:2 | intcomma}}</small></span>
                        {% else %}
                            <span><small>&#8358;{{item.price | floatformat:2 | intcomma}}</small></span>
                        {% endif %}
                    </p>
                    <form action="{% url 'order:addtoshopcart' %}" method="POST">
                        {% csrf_token %}
                            <input type="hidden" name="quantity" class="span1" value="1">
                            <button class="btn btn-outline-primary mb-3" type="submit">Add to cart</button>
                            <input type="hidden" name="prodid" value="{{ item.id }}">
                    </form>
                    </div>
                </div>
             </div>
           {% endfor %}
         {% endif %}
     </div>
 </div>