{% load static %}

<div class="container-fluid">
<div class="feature latest">
    <div class="free offer-free">
        <p>SPONSORS</p>
    </div>
    <div class="line-bar line-bar1">
        
        
    </div>
</div>
</div>
<div class="container">
    <div class="clients">
       
            <div class="row d-flex">
                {% for brands in brand %}
                    
                    <div class="col-lg-3 col-md-6 col-sm-12 justify-content-center">
                        <img src="{{brands.brands.url}}" alt="">
                    </div>
            
                {% endfor %}
                    
            </div>
        
    </div>
</div>

<style>
@media screen and (min-width:375px) and (max-width:499px){
    .clients {
        display: none;
    }
    .offer-free {
        display: none;
    }
}
</style>