 {% load static %}   
<div class="container-fluid">
    <div class="feature latest">
     <div class="free">
         <p>OFFER <span>PRODUCT</span></p>
     </div>
     <div class="line-bar">
         
         
     </div>
     <div>
         <img src="{% static '' %}images/arrow-pleft.png" alt="">
         <img src="{% static '' %}images/arrow-p.png" alt="">
     </div>
    </div>
 </div>
  
  <!-- offer products  -->
        
        {% if offer1 %}
            {% for offers in offer1 %}
                <div class="container" id="top">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <img src="{{offers.image.url}}" class="image-fluid offer-image">
                            <p class="ms-5 fw-bold fs-3">{{offers.title}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-5 ms-0">
                            <p class="exclusive fw-bold fs-4">Exclusively available at Tango Store</p>
                            <h1> </h1>
                            <h5>
                                Get the latest offer product today at a great discount price today.
                            </h5>
                            <a href="{% url 'prod_detail' offers.id offer.slug %}"><button class="shop mt-5" type="button">View Details</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
            
    <!-- offer products done -->

<style>
    .offer-image{
        width: 70%;
        object-fit: cover;
        object-position: center;
    }
    .exclusive {
        color: rgb(240, 18, 18);
    }
</style>