{% load static %}

<div class="container-fluid">
    <div class="feature latest">
     <div class="free">
         <p>LATEST <span>PRODUCTS</span></p>
     </div>
     <div class="line-bar">
         
         
     </div>
     <div>
         <img src="{% static '' %}images/arrow-pleft.png" alt="">
         <img src="{% static '' %}images/arrow-p.png" alt="">
     </div>
    </div>
 </div>
 <div class="container-fluid">
     <div class="row">
         {% if category %}
           {% for category in category %}
             <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-div">
                        <a href="{% url 'prod_list' category.id category.slug %}"><img src="{{category.image.url}}" alt=""  width="250" height="260" class="image-fluid"></a>
                    </div>
                    <div class="card-block">
                    <span class="card-title text-wrap">{{category.title}}</span>
                    <p class="see"></p>
                    <p class="primera"></p>
                    </div>
                </div>
            </div>
           {% endfor %}
         {% endif %}
     </div>
 </div>