{% extends "base.html" %}
{% load static %}
{% block title %}
  Password Sent
{% endblock title %}

{% block user-content %}
        
        
<div class="container pt-5 ps-5 p-4">
    <h2 class="fw-bold text-muted">Password reset complete <i class="fa fa-check-circle-o"></i></h2>
    <p>
        <h6>
            Your password has been reset successfully, you can now <a href="{% url 'login' %}" class="text-decoration none text-primary">login</a> with your new password.
        </h6>
    </p>
    </div>

{% endblock user-content %}