{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
  Password Change
{% endblock title %}

{% block user-content %}
<div class="container pt-5 ps-5 pb-4">
    <div class="row mb-5">
        <legend class="fw-bold">Enter new password</legend>
        <p><h6>Please enter your new password and new password confirmation to reset password</h6></p>
        <form action="" method="POST" class="mt-4 mb-3">
            {% csrf_token %}
            <div class="mb-3">{{form|crispy}}</div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>

{% endblock user-content %}